$primary-color: #272727;
$secondary-color: #ff652f;


// @mixin media-lg {
//     @media screen and (min-width: 1024px) {
//         @content;
//     }
// }
// @mixin media-md {
//     @media screen and (max-width: 768px) {
//         @content;
//     }
// }

// @include media-md {
//     .nav {
//         flex-direction: column;
//     }
// };

// @include media-lg() {

//     .nav{
//         flex-direction: row;

//     }
// }


.header{
    width: 100vw;
    height: 100vh;
    background: 
    linear-gradient(
      to bottom,
      rgba($primary-color, 0.8),
      rgba($primary-color, 0.1)
    ),
    url(../images/shoe-2.png) ;
    background-size: cover;
    overflow: hidden;
};

.navbar-brand  {
    margin-left: 30px;
    opacity: 0;
    animation: logo 1s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes logo {
    0% {
        opacity: 1;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

nav ul li {
    position: relative;
    transition: .5s;
    margin: 10px;
    opacity: 0;
    animation: nav 1s ease-in-out forwards;
    font-weight: 400;
    font-size: large;
}


@keyframes nav {
    0% {
        opacity: 0;
        transform: translateX(500px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

nav ul li:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: .5s;
    background-color: rgb(247, 53, 27);
}

nav ul li:hover:before {
    width: 90%;
}

img {
    width: 60px;
}


.dropdown:hover>.dropdown-menu {
    display: block;
  }




