.home {
    background-color: rgb(44, 43, 43);
    height: 100vh;
    width: 100vw;
}

.row {
    background-color: royalblue;
    padding-top: 10px;
}
.nav {
    justify-content: center;
    margin: auto ;

}
.pic {
    border: 1px solid #fff;
    margin-bottom: 5px;
    text-align: center;
    img {
        text-align: center;
    }
}
.item {
    border: 1px solid #fff;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center;
}

