$primary-color: #272727;
$secondary-color: #ff652f;

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}
@mixin media-sm {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@include media-sm {
    nav {
        li {
            text-align: right;
        }
        img {
            width: 60px;
        }
    }

    .intro {
        flex-direction: column;
        padding-left: 20px;
        width: 350px;

        .content {
        }
    }
 
}
::-webkit-scrollbar{
    width: 100%;
    height: 100%;
    overflow: hidden;
}



@include media-lg {
    nav {
        img {
            width: 50px;
        }
    }


}

.header {
    width: 100vw;
    // height: 100vh;
    background: linear-gradient(to bottom, rgba($primary-color, 0.8), rgba($primary-color, 0.1)),
        url(../images/banner-running.jpg);
    //     background-size: cover;
    object-fit: cover;

}

.content{
    margin: 2%  !important;
    // width: 350px;
}
.intro {
    display: flex;
    padding-top: 100px;
}

.cards {
    // padding-top: 120px;
}
 video {
    object-fit: cover;
    width: 100vw;
    height: 200vh;
    position: absolute;
    top: 0;
    left: 0;
 }

.intrduce {
    color: coral;
    background-color: rgba(0, 0, 0,.6);
    text-align: center;
}
.link {
    background-color: rgba(0, 0, 0,.6);
    justify-content: center;


}


.navbar-brand {
    margin-left: 30px;
    opacity: 0;
    animation: logo 1s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes logo {
    0% {
        opacity: 1;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


nav ul li {
    position: relative;
    transition: 0.5s;
    margin: 8px;
    opacity: 0;
    animation: nav 1s ease-in-out forwards;
    font-weight: 200;
}

@keyframes nav {
    0% {
        opacity: 0;
        transform: translateX(500px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

nav ul li:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: 0.5s;
    background-color: rgb(247, 53, 27);
}

nav ul li:hover:before {
    width: 90%;
}

.dropdown:hover > .dropdown-menu {
    display: block;
    text-align: center;
}

.new {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    // min-height: 100vh;
    // background: #010615;

}
.box {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    transition: 0.5s;
    background: #060c21;
}
.box:hover {
    height: 400px;

}
.box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-shadow: border-box;
}
.box .imgBx img {
    max-width: 100%;
    opacity: 0.1;
    transition: 0.5s;

}
.box:hover .imgBx img {
    opacity: 1;
}
.box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
// .box:before, .box:after {
//     background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);
// }
// .box:nth-child(2):before,
//  .box:nth-child(2):after {
//     background: linear-gradient(235deg,#89ff00,#010615,#fbff00);
// }
// .box:nth-child(3):before,
//  .box:nth-child(3):after {
//     background: linear-gradient(235deg,#89ff00,#010615,#2196f3);
// }

.box .detail {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}
.box:hover .detail {
    opacity: 1;
}
.box .content h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}
.box .content h2 span {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    line-height: 200px;
    letter-spacing: 2px;
}


// .product {
//     position: relative;
//     transform: translateY(-30px) scale(1.1);
// }
// .container {
// }

// .container .box {
//     position: relative;
//     width: 450px;
//     height: 400px;
//     border-radius: 20px;
//     transform-style: preserve-3d;
//     background-color: rgba(0, 0, 0, 0.4);
//     font-weight: bold;
// }
// .container .box::before {
//     content: "Nike";
//     position: absolute;
//     top: 20px;
//     left: 20px;
//     font-size: 6em;
//     font-weight: 1500;
//     color: #fff;
//     font-style: italic;
//     opacity: 0;
// }
// .container .box::after {
//     content: "SHOES";
//     position: absolute;
//     bottom: 20px;
//     right: 20px;
//     font-size: 6em;
//     font-weight: 1500;
//     color: #fff;
//     font-style: italic;
//     opacity: 0;
//     transition: 0.5s;
// }

// .size span {
//     width: 20px;
//     height: 20px;
//     font-size: 14px;
//     display: inline-block;
//     color: #111;
//     background: #fff;
//     transition: 0.5s;
//     border-radius: 4px;
//     cursor: pointer;
//     margin-right: 3px;
//     padding: 1px;
//     margin-left: 5px;
// }
// .color span {
//     width: 20px;
//     height: 20px;
//     font-size: 14px;
//     display: inline-block;
//     color: #111;
//     background: #fff;
//     transition: 0.5s;
//     cursor: pointer;
//     border-radius: 30px;
//     margin-right: 3px;
// }
// span:hover {
//     background: #9bdc28;
// }

// .color span:nth-child(2) {
//     background: #c50cb6;
// }
// .color span:nth-child(3) {
//     background: #03a9f4;
// }
// .color span:nth-child(4) {
//     background: #e91e63;
// }

// .container .box:hover::before,
// .container .box:hover::after {
//     opacity: 0.04;
// }
// .container .box .name {
//     position: absolute;
//     top: 0;
//     left: 0;
//     text-align: center;
//     color: #fff;
//     width: 100%;
//     transform: translate3d(0, 0, 75px);
//     transition: 0.5s;
//     opacity: 0;
//     z-index: 10;
// }
// .container .box:hover .name {
//     top: 40px;
//     opacity: 1;
// }
// .container .box:hover .buy {
//     bottom: 30px;
//     opacity: 1;
// }

// .container .box .circle {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     width: 200px;
//     height: 200px;
//     border-radius: 50%;
//     transition: 0.5s; 
//     background: #fff;
//     transform-style: preserve-3d;
//     z-index: 10;
//     opacity: 1;
//     transform: translate3d(-50%, -50%, 50px);
// }

// .container .box .product {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     max-width: 300px;
//     transition: 0.5s;
//     z-index: 11;
//     transform-style: preserve-3d;
//     transform: translate3d(-50%, -50%, 0px) rotate(-15deg);
// }

// .parallax-effect-img {
//     transform-style: preserve-3d;
//     transform: perspective(1000px);
//   }

//   .testimonial {
//     background: linear-gradient(to bottom, rgba($primary-color, 0.8), rgba($primary-color, 0.1));
//         // url(../images/na2.webp);
//     padding-top: 84px;
// }
// .row {
//     justify-content: space-around;
// }

// .testimonial__text {
//     text-align: center;
//     padding: 30px;
//     color: chartreuse;
//         background-color: rgba(0, 0, 0, 0.8);
//         border-radius:20px;


//     span {
//         color: #e53637;
//         font-size: 72px;
//     }

//     p {
//         font-size: 20px;
//         font-style: italic;
//         line-height: 30px;
//         padding-top: 12px;
//         margin-bottom: 25px;
//     }
// }


// .testimonial__author__pic {
//     float: left;
//     margin-right: 20px;

//     img {
//         height: 60px;
//         width: 60px;
//         border-radius: 50%;
//     }
// }

// .testimonial__author__text {

//     h5 {
//         font-weight: 700;
//         margin-bottom: 5px;
//     }

//     p {
//         color: #b7b7b7;
//         margin-bottom: 0!important;
//         padding-top: 0;
//     }
// }

// .testimonial__pic {
//     height: 600px;
// }
